<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>多屏互动 - 桌面端</title>
  </head>
  <body>
    <h1>
      多屏互动 
      <span>@ nixon on </span>
      <a href="https://github.com/WellerQu/Multi-screen-Interactive">Github</a>
    </h1>
    <div class="qrcode"></div>
    <div class="app">
      <div class="box">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </body>
</html>
